    body {
        background-color: #051e28;
        text-align: center;
        font-family: Futura;
        margin: auto;
        font-size: 20px;
    }

    body img {
        max-width: 200px;
    }

    .header {
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: dodgerblue;
    }