 @font-face {font-family: 'Futura';
            src: url('fonts/Futura Condensed.ttf') format('truetype');
            font-weight: normal;
            font-style: condensed;}

 /* built in elements*/
    body {
        background-color: #051e28;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        margin: auto;
    }

    footer {
        margin-top: 4vw;
        border-top: 0.2vw solid rgb(238, 123, 69);
        padding-block: 0.5vw;
        background-color: #051e29;
    }

    header {
        border-bottom: 0.2vw solid rgb(238, 123, 69);
        padding-inline: 2vw;
        padding-block: 0.5vw;
        background-color: #051e29;
        align-items: center
    }

    h1 {
        font-size: 25px;
        color: rgba(235, 235, 235, 1);
        font-weight: 1000;
        background-color: none;
        padding: 1vw;
        box-shadow: none;
        text-shadow: none;
        margin-bottom: 0vw;
    }

    p {
        font-size: 20px;
        color: rgba(235, 235, 235, 1);
        text-shadow: none;
        vertical-align: middle;
    }

    iframe {
        display: block;
        margin: auto;
        border: 0.2vw solid rgb(0, 0, 0);
        box-shadow: 0.25vw 0.5vw 0.5vw rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100vh;
        border-radius: 1.5vw;
    }

    a {
        color: rgb(0, 0, 0);
        font-size: 30px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
        margin: 0%;
    }

    hr {
        height:0.125vw;
        background-color:rgb(225, 225, 225);
        border:2px solid rgb(0, 0, 0);
        margin:auto;
        margin-block: 0;
        border-radius: 2px;
        width: 75%;
        justify-content: center;
    }

    h2 {
        font-size: 22px;
        color: rgba(235, 235, 235, 1);
        font-weight: 600;
        border: none;

        background-color: none;
        padding: 1.5vw;
        width: 70%;
        margin: auto;
    }

    h3 {
        font-size: 20px;
        color: rgba(235, 235, 235, 1);
        transition: all 0.2s;
        border: 1px solid black;
        background-color: rgba(155, 185, 255, 0.4);
        box-shadow: 0.25vw 0.5vw 0.5vw rgba(0, 0, 0, 0.4);
        border-radius: 0.5vw;
        padding: 0.75vw;
        cursor: pointer;
        user-select: none;
        margin-bottom: 0vw;
    }

    h1, h2, h3, h4, a { font-family: "Futura", sans-serif; }


.tricolorcolumns {
    background-color: rgb(205,205,205);
    padding: 1.5vw;
    margin-inline: 1vw;
    border-radius: 0.5vw;
}

.bodyimg {
    display: block;
    margin: auto;
    box-shadow: none;
    background-color: rgba(215, 215, 215, 1);
    width: 50%;
    border: 0.2vw solid rgb(0, 0, 0);
    margin-inline: 3vw;
    border-radius: 1.5vw;
    vertical-align: middle;
}

.headerimg {
    display: block;
    margin-left: auto;
    box-shadow: none;
    min-width: 250px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    vertical-align: middle;
}

.footerlogo {
    background-color: #EBEBEB;
    border: 0.1vw solid #EBEBEB;
    display: block;
    margin: auto;
    box-shadow: none;
    width: 7.5%;
    margin-block: 1vw;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    vertical-align: middle;
}

/*Navigation Buttons Stuff*/
    @media (max-width: 900px) {
        .navmenu {
            flex-wrap: wrap;
        }
    }
    .navlink {
        display: block;
        color: #EBEBEB;
        font-size: 20px;
        font-weight: 500;
        background-color: #051e28;
        padding: 10px;
        border:2px solid rgb(238, 123, 69);
        transition: all 0.15s;
        text-decoration: none;
        z-index: 2;
        align-items: center;
        white-space: nowrap;
    }

    .navlink:hover {
        z-index: 4;
        background: rgb(238, 123, 69);
        color: #051e28;
        transition: all 0.15s;
        transform: scale(1.1);
        .drpdwnc {transition: all 0.15s; display: block; opacity: 100%}

    }

    .navlinkimg {
        display: inline-block;
        height: 25px;
        vertical-align: middle;
    }

    .drpnavlink {
        display: inline-block;
        color: #EBEBEB;
        font-size: 20px;
        font-weight: 500;
        background-color: #051e28;
        padding: 10px;
        border:2px solid rgb(238, 123, 69);
        transition: all 0.15s;
        margin-inline: -2.5px;
        margin-block: -1px;
        text-decoration: none;
        transition: all 0.15s;
    }

    .drpnavlink:hover {
        background: rgb(238, 123, 69);
        color: #051e28;
        transition: all 0.15s;
        transform: scale(1.1);
    }

.pcontainer {
    padding-inline: none;
    padding-block: none
    background-color: none;
    box-shadow: none;
    margin-bottom: 0vw;
    justify-content: center;
}

.columnsformat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rowsformat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #345A66), url(IMG_3074.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    background-color: #345A66;
    position: sticky;
    top: -0px;
}

.navmenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-block: 25px;
    margin-right: auto;
    background-color: none;
    box-shadow: none;
    z-index: 1;
}

.navmenu > * {
  position: relative;
  display: flex;
}

.bodydiv {
    background-color: #051e28;
    text-align: center;
    font-weight: 500;
    margin: auto;
    width: 85vw;
}

.drpdwn {
    position: relative;
    display: flex-block;
    z-index: 3;
}

nav ul {}

.tricolorcolumns {
    color: black;
}

.drpdwnc {
    display: block;
    position: absolute;
    z-index: 1;
    opacity: 0%;
    transition: all 0.15s;
}

.drpdwnfaq {
    position: relative;
    display: block;
    width: 60%;
    margin: auto;
    z-index: 1;
    transition: all 0.15s;
}

.drpdwnt {
    opacity: 0%;
    display: block;
    z-index: 1;
    transition: all 0.15s;
    max-height: 0vw;
}

.drpdwn:hover .drpdwnc {transition: all 0.15s; display: block; opacity: 100%}

.drpdwnfaq.open .drpdwnt {
  opacity: 1;
  display: inline;
  transition: all 0.15s;
}

.drpdwnfaq.open h3 {
  transition: all 0.15s;
  background-color: rgba(155, 185, 255, 1.0);
  margin-bottom: 1vw;
}

.transitioning {
    animation: fadein 0.5s forwards;
}

.timeline {
    width:80%;
    max-width: 800px;
    height:auto;
    margin: 0 auto;
    display: grid;
}

.timeline ul{
    padding: 0;
    list-style:none;
    margin-bottom: 0;
}

.timeline ul li{
    background-color: lightgray;
    border-radius: 2vw;
    margin-bottom: 2vw;
    padding-bottom: 1.5vw;
    width: 52%;
    box-shadow: 0.25vw 0.5vw 0.5vw rgba(0, 0, 0, 0.4);
}

.timeline ul li:nth-child(odd){
    float: left;
}

.timeline ul li:nth-child(even) {
    float: right;
}

.timeline ul li:last-child {
    margin-bottom: 0;
}

.timeline-content p{
    margin-block: 0;
}

.timeline-date {
}
.timeline-middle {
    position: relative;
    color: black;
}

.headercontainers {
    display: inline-flex;
}

@keyframes fadein {
    from{
        transform: translateY(200px); opacity: 15%;
    }

    to{
        transform: translateY(0vh); opacity: 100%;
    }
}

/* Hamburger toggle thing */
.hamburger {
    display: none;
    font-size: 28px;
    color: #EBEBEB;
    cursor: pointer;
    padding: 10px;
    font-size: 28px;
    line-height: 1;
}

/* Supposed to mobile condense lol */
@media (max-width: 675px) {

    #headerdiv { flex-wrap: wrap;}

    .hamburger {
        display: block;
        order: 1; margin-left: auto;
    }

    .navmenu {
        display: none;
        flex-direction: column;
        width: 100%;
        order: 2;
    }

    .navmenu.active {
        display: flex;
    }

    .navlink {
        text-align: center;
    }

    .columnsformat:not(#headerdiv) { flex-direction: column; align-items: flex-start; }


    .headerimg { order: 0; }
}